  body {}

  /* strat style top header */

  .top-header .navbar {
      background-color: #252f31;
      color: #fff;
      overflow: hidden;
      text-transform: capitalize;
  }

  .top-header .slider {
      height: 500px;
      background-color: #2ecc71;
  }

  .top-header .navbar h2 {
      text-transform: uppercase;
      float: left;
  }

  .top-header .navbar h2 span {
      color: #2ecc71;
  }

  .top-header .navbar ul {
      list-style: none;
      padding-left: 0px;
      overflow: hidden;
      float: right;
  }

  .top-header .navbar ul li {
      float: left;
      padding: 10px
  }

  /* End top header  */
  /* Strat features */
  .features {
      overflow: hidden;
      padding-top: 40px;
      padding-bottom: 40px;
  }

  .features .feat {
      float: left;
      height: 200px;
  }

  .features .feat h2 {
      text-transform: uppercase
  }

  /* End features */
  /* strat about_me */
  .about_me {
      background-color: #888
  }

  .about_me .image {
      float: left;

  }

  .about_me .image img {
      width: 100%;
  }

  .about_me .info {
      float: left;
      width: 70%;
  }

  .about_me .info .hobbies {
      overflow: hidden;
      margin: 10px
  }

  /* .about_me .info .hobbies>div {
      float: left;
      min-height: 100px;
  } */
  /* strat about_me */
  /* start my_Skills */
  .my_Skills {
      padding-top: 30px;
      padding-bottom: 10px
  }

  /* End my_Skills */
  /* start Resume */
  .Resume {
      background-color: #888;
      overflow: hidden;
      padding-top: 30px;
      padding-bottom: 10px;
      text-align: center
  }


  /* End Resume */
  /* start my_Education */
  .my_Education {
      padding-top: 30px;
      padding-bottom: 10px
  }

  /* End my_Education */
  /* strat Testemonials */
  .Testemonials {
      padding-top: 30px;
      padding-bottom: 10px;
      overflow: hidden;
      background-color: #888;
      text-align: center
  }

  /* End Testemonials */

  /* start Portofloio */
  .Portofloio {
      padding-top: 30px;
      padding-bottom: 10px;
  }

  .Portofloio .our_work {
      overflow: hidden;

  }

  /* End Portofloio */